In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

import os # загрузка файлок
from pandas import read_csv
import pandas as pd
# функции для разбивки данных на обучающую и тестовую:
from sklearn.model_selection import train_test_split # разбивка выборки начасти
from sklearn.linear_model import LogisticRegression # логистическая регрессия

from sklearn.model_selection import KFold # разбивка на фолды
from sklearn.model_selection import cross_val_score # для кросс валидации
from sklearn.model_selection import LeaveOneOut # оставляет одно значение для обученияб а остальные для тестов
from sklearn.model_selection import ShuffleSplit # случайная разбивка выборки на k частей
# функции для оценки качества данных:
from sklearn.metrics import confusion_matrix # сопоставляются расчетные значения
from sklearn.metrics import classification_report # тут разные показатели оценки
from sklearn.linear_model import LinearRegression # для оценки качества регрессии

Mounted at /content/gdrive

# **ЗАДАНИЕ 6. ОЦЕНКА КАЧЕСТВА МОДЕЛЕЙ**

Проведите разбиение выборки на тестовый и обучающий набор разными способами. Воспользуйтесь различными метриками качества для оценки моделей логистической регрессии и линейной регрессии.
Постарайтесь максимально автоматизировать все вычисления, использовать существующие модули среды программирования Python.

**Методика выполнения задания:**

# **Раздел 1. Разбиение выборки на обучающий и тестовый набор**

# **Разбиение выборки на части (способ 1):**

**1. Укажите путь к рабочей папке, где хранятся данные, с помощью функции chdir() из модуля os.**

In [ ]:
os.chdir('/content/gdrive/MyDrive/Colab Notebooks/PDA-200/')

In [ ]:
filename='pima-indians-diabetes.data.csv'
names=['preg','plas','pres','skin','test','mass','pedi','age','class']
data=read_csv(filename,names=names)
data.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [ ]:
data.dtypes

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [ ]:
array = data.values
array

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

**4. Выделите в переменной array часть, которая относится к факторным признакам, назовите ее X, и часть, которая относится к результативному признаку, - Y. Прокомментируйте содержимое переменных X и Y.**

In [ ]:
X = array[:,0:8] # факторные признаки, т.е. параметры объекта
Y = array[:,8] # результативные признак, т.е. сам объект
# это обучение с учителем х - это данные, y - это ответ

**5. Запишите в переменную test_size долю отложенной (тестовой) выборки. Пусть она составляет 0,33.**

In [ ]:
test_size=0.33 # доля тестовой выборки в %

**6. Задайте в переменной seed ядро случайных чисел для воспроизводимости результатов. Пусть будет = 7**

In [ ]:
seed = 7

**7. Разбейте выборку на обучающую и отложенную с помощью функции train_test_split() из модуля sklearn.model_selection. Результат запишите в переменные X_train, X_test, Y_train, Y_test.**

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=test_size,random_state=seed)
# первый важный способ разбиения выборки на части

**8. Создайте модель логистической регрессии с помощью функции LogisticRegression() из модуля sklearn.linear_model.**

In [ ]:
model=LogisticRegression(solver='liblinear') # создаем объект

**9. Обучите ее на обучающей выборке с помощью функции fit().**

In [ ]:
model.fit(X_train,Y_train)# обучаем объект

LogisticRegression(solver='liblinear')

**10. Оцените качество построенной модели, рассчитав на тестовом наборе долю правильных ответов (accuracy) с помощью функции score(). Выведите на экран полученный результат.**

In [ ]:
result=model.score(X_test,Y_test) # смотрим долю правильных ответов на тестовой выборке
result                            # т.е. мы уже обучили
# довольно

0.7559055118110236

# **Разбиение выборки на части (способ 2):**

**11. Проведите кросс-валидацию, в ходе которой оцените среднюю долю правильных ответов (accuracy) и стандартное отклонение полученных оценок. Воспользуйтесь при этом функцией cross_val_score() из модуля sklearn.model_selection. Разбиение на фолды задайте с помощью функции KFold() из модуля sklearn.model_selection. На вход данной функции подайте следующую информацию: 1) количество частей, на которые должна разбиваться выборка, - пусть 10; 2) счетчик случайных чисел – пусть 7; 3) необходимость перемешивания данных выборки при каждой оценке, задав параметр shuffle=True.**

In [ ]:
kfold=KFold(n_splits=10,random_state=7,shuffle=True) # разбили выборку на части

**12. Выведите на экран среднюю долю правильных ответов (accuracy) и стандартное отклонение полученных оценок.**

In [ ]:
kfold

KFold(n_splits=10, random_state=7, shuffle=True)

**13. Проведите кросс-валидацию с одним наблюдением для тестирования результата (Leave One Out Cross-Validation), в ходе которой оцените среднюю долю правильных ответов (accuracy) и стандартное отклонение полученных оценок. Воспользуйтесь при этом функцией cross_val_score() из модуля sklearn.model_selection. Разбиение на фолды задайте с помощью функции LeaveOneOut() из модуля sklearn.model_selection.**

In [ ]:
results=cross_val_score(model,X,Y,cv=kfold)

**14. Выведите на экран среднюю долю правильных ответов (accuracy) и стандартное отклонение полученных оценок.**

In [ ]:
results

array([0.83116883, 0.71428571, 0.71428571, 0.77922078, 0.79220779,
       0.76623377, 0.68831169, 0.85714286, 0.80263158, 0.76315789])

In [ ]:
results.mean(),results.std() # важно чтобы std  было небольшое

(0.7708646616541353, 0.05090500786917546)

# **Разбиение выборки на части (способ 3):**

**15. Создайте объект разбиения на фолды в пропорции «1:прочее» с помощью функции LeaveOneOut() из модуля sklearn.model_selection. Результат запишите в переменную loocv.**

In [ ]:
loocv=LeaveOneOut()

**16. Проведите кросс-валидацию с одним наблюдением для тестирования результата (Leave One Out Cross-Validation), воспользовавшись функцией cross_val_score(model, X, Y, cv=loocv) из модуля sklearn.model_selection. Запишите результат в переменную results.**

**Выведите на экран среднюю долю правильных ответов (accuracy) и стандартное отклонение полученных оценок, воспользовавшись, соответственно, функциями mean() и std().**

In [ ]:
results=cross_val_score(model,X,Y,cv=loocv)

In [ ]:
results.mean(),results.std()

(0.7682291666666666, 0.42196340380334596)

# **Разбиение выборки на части (способ 4):**

**Создайте объект многократного случайного разбиения на фолды с помощью функции ShuffleSplit(n_splits=n_splits, test_size=test_size, random_state=seed) из модуля sklearn.model_selection. Результат запишите в переменную kfold. На вход данной функции подайте следующую информацию: 1) количество частей, на которые должна разбиваться выборка (n_splits), - пусть 10; 2) долю тестового набора (test_size) – пусть 0,33; 3) счетчик случайных чисел (random_state) – пусть 7.**

**Проведите многократное случайное разбиение выборки на обучающую и тестовую, воспользовавшись функцией cross_val_score(model, X, Y, cv=kfold) из модуля sklearn.model_selection. Запишите результат в переменную results.**

**Выведите на экран среднюю долю правильных ответов (accuracy) и стандартное отклонение полученных оценок, воспользовавшись, соответственно, функциями mean() и std().**

In [ ]:
kfold=ShuffleSplit(n_splits=10, test_size=0.33, random_state=7)

In [ ]:
results=cross_val_score(model,X,Y,cv=kfold)

In [ ]:
results.mean(),results.std()

(0.7649606299212598, 0.016983980007970873)

# **Раздел 2. Метрики качества моделей классификации**

**17. Наиболее популярной метрикой качества моделей классификации является доля правильных ответов (accuracy). Ее Вы использовали для оценки качества модели логистической регрессии. Запишите среднюю долю правильных ответов (accuracy) и стандартное отклонение полученных оценок на кросс-валидации, проведенной в п. 11.**

**Создайте объект разбиения на фолды с помощью функции KFold(n_splits= n_splits, random_state = random_state, shuffle=True) из модуля sklearn.model_selection. Результат запишите в переменную kfold. На вход данной функции подайте следующую информацию: 1) количество частей, на которые должна разбиваться выборка (n_splits), - пусть 10; 2) счетчик случайных чисел (random_state) – пусть 7; 3) необходимость перемешивания данных выборки при каждой оценке, задав параметр shuffle=True.**

**Проведите кросс-валидацию, воспользовавшись функцией cross_val_score(model, X, Y, cv=kfold, scoring=scoring) из модуля sklearn.model_selection. В качестве оценочной функции (scoring) укажите 'neg_log_loss'. Запишите результат в переменную results.**

In [ ]:
kfold=KFold(n_splits=10,random_state=7,shuffle=True)

In [ ]:
scoring ='neg_log_loss'

In [ ]:
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

**19. Выведите на экран среднее значение логистической функции потерь, взятое с отрицательным знаком, и стандартное отклонение полученных оценок.**

In [ ]:
results.mean() # логистическая функциия потерь = 0.49, выбираем ту модель в кот. она по модулю меньше

#'neg_log_loss' - функция потерь, должна быть как можно меньше
#'accuracy' (идет по умолчаниюб использовалась везде выше) - она показывает
            # сколько ьочных результатов, чем боьше тем лучше

-0.4935803958173728

In [ ]:
results.std()

0.042047547865615785

**20. Проведите кросс-валидацию, в ходе которой оцените среднюю площадь под ROC кривой и стандартное отклонение полученных оценок. Воспользуйтесь при этом функцией cross_val_score() из модуля sklearn.model_selection. В качестве оценочной функции укажите 'roc_auc'. Разбиение на фолды задайте с помощью функции KFold() из модуля sklearn.model_selection, как в п. 11.**

In [ ]:
scoring='roc_auc'

In [ ]:
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

**21. Выведите на экран среднюю площадь под ROC кривой и стандартное отклонение полученных оценок.**

In [ ]:
results.mean() # дает среднюю площадь под кривой

0.8257627921677674

In [ ]:
results.std()

0.05005520303752424

**22.   Найдите расчетные значения по модели логистической регрессии на тестовой выборке с помощью функции predict(). Результат запишите в переменную predicted.**

In [ ]:
predicted=model.predict(X_test)
predicted

**Посмотрите на матрицу ошибок прогнозирования на тестовой выборке для модели логистической регрессии, построенной и обученной в пп. 7-9. Воспользуйтесь при этом функцией confusion_matrix() из модуля sklearn.metrics. На вход этой функции подайте фактические значения результативного признака на тестовом наборе (Y_test) и расчетные значения по модели (predicted). Выведите на экран полученный результат.**

In [ ]:
confusion_matrix(Y_test,predicted)
# нулевой класс 0 - распознался верно 141 раз
# первый класс 1 - распознался верно 51 раз
# 21 и 41 - это кол-во ошибок распознания для каждого класса

array([[141,  21],
       [ 41,  51]])

**Выведите на экран отчет о качестве классификации с помощью classification_report()**

In [ ]:
print(classification_report(Y_test,predicted))
# precision - точность, показывает насколько можно доверять
#             классификатору в случае срабатывания
# recall - показывает на какой доле объекта алгоритм срабатывает
# f1-score - ф-мера среднее гармоническое
# support - число объектов каждого класса

# желательно чтобы представителей каждого класса было одинаковое количество

# accuracy - доля правильных ответов
# macro avg  - среднее повсем классам
# weighted avg - взвешенное среднее

              precision    recall  f1-score   support

         0.0       0.77      0.87      0.82       162
         1.0       0.71      0.55      0.62        92

    accuracy                           0.76       254
   macro avg       0.74      0.71      0.72       254
weighted avg       0.75      0.76      0.75       254

# **Раздел 3. Метрики качества моделей регрессии**

**26. Загрузите данные файла housing.csv с помощью функции read_csv(filename, delim_whitespace=True, names=names) из модуля pandas. Названия столбцов укажите следующими: names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO','B', 'LSTAT', 'MEDV']. Посмотрите на первые 5 наблюдений с помощью функции head().**

In [ ]:
filename='housing.csv'
names=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO','B', 'LSTAT', 'MEDV']
data=read_csv(filename, delim_whitespace=True, names=names)
data.head(6)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7

**27. Сохраните в переменную array значения признаков, обратившись к атрибуту values.**

In [ ]:
array=data.values

**28. Выделите в переменной array часть, которая относится к факторным признакам, назовите ее X, и часть, которая относится к результативному признаку, - Y. Прокомментируйте содержимое переменных X и Y.**

In [ ]:
X = array[:,0:13] # факторные признаки, т.е. параметры объекта
Y = array[:,13] # результативные признак, т.е. сам объект
# это обучение с учителем х - это данные, y - это ответ

**29. Создайте модель линейной регрессии с помощью функции LinearRegression() из модуля sklearn.linear_model.**

In [ ]:
model=LinearRegression()

**30. Проведите кросс-валидацию, в ходе которой оцените среднюю величину средней абсолютной ошибки (MAE), взятую с отрицательным знаком, и стандартное отклонение полученных оценок. Воспользуйтесь при этом функцией cross_val_score() из модуля sklearn.model_selection. В качестве оценочной функции укажите 'neg_mean_absolute_error'. Разбиение на фолды задайте с помощью функции KFold() из модуля sklearn.model_selection. На вход данной функции подайте следующую информацию: 1) количество частей, на которые должна разбиваться выборка, - пусть 10; 2) счетчик случайных чисел – пусть 7; 3) необходимость перемешивания данных выборки при каждой оценке, задав параметр shuffle=True. Выведите на экран полученный результат, прокомментируйте его.**

In [ ]:
kfold=KFold(n_splits=10,random_state=7,shuffle=True) # разбиение на фолды

In [ ]:
scoring='neg_mean_absolute_error'

In [ ]:
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

**31. Выведите на экран среднюю величину средней абсолютной ошибки (MAE), взятую с отрицательным знаком, и стандартное отклонение полученных оценок, воспользовавшись, соответственно, функциями mean() и std(). Прокомментируйте полученный результат.**

**средней абсолютной ошибки**

In [ ]:
results.mean() # 3.3 доллара средняя абсолютная ошибка

-3.3870077451158886

In [ ]:
results.std() # 67 центов стандартное отклонение

0.6666977115119672

**средняя квадратичная ошибка**

In [ ]:
kfold=KFold(n_splits=10,random_state=7,shuffle=True)

In [ ]:
scoring='neg_mean_squared_error'

In [ ]:
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [ ]:
results.mean()

-23.746501811313365

In [ ]:
results.std()

11.143430110698096

**32. Проведите кросс-валидацию, воспользовавшись функцией cross_val_score(model, X, Y, cv=kfold, scoring=scoring) из модуля sklearn.model_selection. В качестве оценочной функции (scoring) укажите 'neg_mean_squared_error'. Разбиение на фолды (cv) задайте, как в п. 18. Результат запишите в переменную results.**

**33. Выведите на экран среднюю величину средней квадратичной ошибки (MSE), взятую с отрицательным знаком, и стандартное отклонение полученных оценок, воспользовавшись, соответственно, функциями mean() и std(). Прокомментируйте полученный результат.**

**34. Проведите кросс-валидацию, воспользовавшись функцией cross_val_score(model, X, Y, cv=kfold, scoring=scoring) из модуля sklearn.model_selection. В качестве оценочной функции (scoring) укажите 'r2'. Разбиение на фолды (cv) задайте, как в п. 18. Результат запишите в переменную results.**

**35. Выведите на экран среднюю величину коэффициента детерминации (R^2) и стандартное отклонение полученных оценок, воспользовавшись, соответственно, функциями mean() и std(). Прокомментируйте полученный результат.**

In [ ]:
kfold=KFold(n_splits=10,random_state=7,shuffle=True)

In [ ]:
scoring='r2'

In [ ]:
results=cross_val_score(model, X, Y, cv=kfold, scoring=scoring)

In [ ]:
results.mean()

0.7181683241114103

In [ ]:
results.std()

0.09866585171842626

# РЕЗЮМЕ:

**Для оценки регресссии использовать:**
- среднеквадратичную ошибку

Среднее арифметическое (Mean) квадратов разностей между предсказанными и реальными значениями.
- средняя абсолютная ошибка

Средняя абсолютная ошибка (MAE) - еще одна функция потерь, используемая в регрессионных моделях. MAE - это сумма абсолютного значения разницы между целевым значением и прогнозируемым значением.
- коэффициент детерминации

Коэффициент детерминации — это доля дисперсии зависимой переменной, объясняемая рассматриваемой моделью зависимости, то есть объясняющими переменными.