In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import os
import numpy as np
import pandas as pd
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC

In [ ]:
os.chdir('/content/gdrive/MyDrive/Colab Notebooks/наборы данных')

In [ ]:
filename='metro_tr_очищен3.csv'
#names=['area A','perimeter P','compactness','length of ker',
#       'width of ker', 'asymmetry coeff', 'length of ker groove','class']
df=read_csv(filename)#,sep='\t', error_bad_lines=False,names=names)

In [ ]:
df.dtypes

Unnamed: 0               int64
temp                   float64
clouds_all             float64
weather_main           float64
weather_description    float64
month                  float64
hour                   float64
end                      int64
dtype: object

_________________________________________________________________________

# **ЛОГИСТИЧЕСКАЯ РЕГРЕССИЯ**

In [ ]:
df.sample(4)

,Unnamed: 0,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,month,hour,traffic_volume,date_time
27584,27584,7,285.949,0.0,0.0,88,1,19,10,16,6087,2016-10-25 16:00:00
22287,22287,7,275.410,0.0,0.0,90,1,19,4,23,982,2016-04-06 23:00:00
28445,28445,7,274.090,0.0,0.0,90,8,16,11,2,474,2016-11-25 02:00:00
31573,31573,7,276.220,0.0,0.0,1,0,27,3,22,2816,2017-03-07 22:00:00

In [ ]:
df.set_index('Unnamed: 0',inplace=True)

In [ ]:
df

,temp,clouds_all,weather_main,weather_description,month,hour,end
Unnamed: 0,,,,,,,
0,0.55,-0.24,-0.57,0.83,1.03,-0.35,5545
1,0.64,0.66,-0.57,-1.62,1.03,-0.20,4516
2,0.65,1.04,-0.57,0.27,1.03,-0.06,4767
3,0.70,1.04,-0.57,0.27,1.03,0.09,5026
4,0.78,0.66,-0.57,-1.62,1.03,0.23,4918
...,...,...,...,...,...,...,...
48189,0.17,0.66,-0.57,-1.62,0.73,1.10,3543
48190,0.12,1.04,-0.57,0.27,0.73,1.24,2781
48191,0.12,1.04,2.67,0.50,0.73,1.38,2159
48192,0.06,1.04,-0.57,0.27,0.73,1.53,1450
48193,0.07,1.04,-0.57,0.27,0.73,1.67,954

In [ ]:
pd.set_option('precision', 2)

In [ ]:
df

,temp,clouds_all,weather_main,weather_description,month,hour,end
Unnamed: 0,,,,,,,
0,0.55,-0.24,-0.57,0.83,1.03,-0.35,5545
1,0.64,0.66,-0.57,-1.62,1.03,-0.20,4516
2,0.65,1.04,-0.57,0.27,1.03,-0.06,4767
3,0.70,1.04,-0.57,0.27,1.03,0.09,5026
4,0.78,0.66,-0.57,-1.62,1.03,0.23,4918
...,...,...,...,...,...,...,...
48189,0.17,0.66,-0.57,-1.62,0.73,1.10,3543
48190,0.12,1.04,-0.57,0.27,0.73,1.24,2781
48191,0.12,1.04,2.67,0.50,0.73,1.38,2159
48192,0.06,1.04,-0.57,0.27,0.73,1.53,1450
48193,0.07,1.04,-0.57,0.27,0.73,1.67,954

In [ ]:
X = df.iloc[:1000,:6].values
X

array([[ 0.55, -0.24, -0.57,  0.83,  1.03, -0.35],
       [ 0.64,  0.66, -0.57, -1.62,  1.03, -0.2 ],
       [ 0.65,  1.04, -0.57,  0.27,  1.03, -0.06],
       ...,
       [-0.35,  1.04, -0.57,  0.27,  1.32,  1.67],
       [-0.35,  1.04, -0.57,  0.27,  1.32, -1.64],
       [-0.36,  1.04, -0.57,  0.27,  1.32, -1.5 ]])

In [ ]:
Y = df.iloc[:1000,6].values
Y

array([5545, 4516, 4767, 5026, 4918, 5181, 5584, 6015, 5791, 4770, 3539,
       2784, 2361, 1529,  963,  506,  321,  273,  367,  814, 2718, 5673,
       6511, 5471, 5097, 4887, 5337, 5692, 6137, 4623, 3591, 2898, 2637,
       1777, 1015,  598,  369,  312,  367,  835, 2726, 5689, 6990, 5985,
       5309, 4603, 4884, 5104, 5178, 5501, 5713, 6292, 6057, 4907, 3503,
       3037, 2822, 1992, 1166,  627,  388,  368, 2489, 5537, 6628, 5534,
       5403, 4770, 5217, 5870, 5967, 6108, 6128, 6069, 6169, 5384, 4063,
       3364, 2971, 2450, 1832, 1231,  718,  545,  411,  688, 1352, 2072,
       3342, 4258, 4861, 5191, 5669, 5074, 5025, 5153, 5024, 4779, 4362,
       3860, 3160, 2992, 3202, 1941, 1233,  323,  312,  627, 1508, 1539,
       2232, 4568, 4624, 4529, 5139, 6640, 6589, 4429, 4329, 3833, 4015,
       3382, 2815, 2110, 1555,  959,  455,  336,  265,  314,  779, 2571,
       5563, 6676, 5966, 4832, 4395, 4411, 4648, 4602, 5125, 5502, 5979,
       5663, 4259, 3069, 2378, 2030, 1400,  917,  515,  302,  251,  798,
       2678, 5733, 6449, 5765, 5599, 4534, 4691, 5067, 5030, 5300, 5777,
       6349, 6127, 4460, 3418, 2775, 2306, 1846,  947,  494,  332,  261,
        361, 5875, 6793, 6793, 6283, 6283, 5680, 5680, 4632, 4887, 5030,
       5067, 5227, 5610, 6286, 4775, 3340, 3013, 2603, 1910, 1037,  347,
        350,  850, 2791, 5809, 6798, 6304, 5291, 4638, 5557, 5818, 6272,
       5944, 4949, 3511, 3039, 2679, 2094, 1284,  630,  410,  331,  372,
        739, 2561, 5586, 6992, 5860, 5230, 4864, 5146, 5526, 5383, 5758,
       5889, 6057, 6028, 5257, 1897, 1335,  769,  570,  413,  399,  740,
       1420, 2220, 3479, 4546, 4579, 4438, 4623, 4440, 4495, 4483, 4591,
       4477, 4221, 3672, 3015, 2769, 2875, 1931, 1309,  870,  654,  364,
        262,  505,  861, 1132, 1797, 2685, 2685, 2685, 3370, 3370, 3662,
       3662, 4076, 4076, 4076, 4128, 4128, 4128, 4358, 4358, 4358, 4342,
       4342, 4234, 4271, 4271, 4080, 3453, 2718, 2439, 1819, 1002, 1002,
        542,  542,  303,  239,  335,  335,  810,  810, 2606, 2606, 5714,
       6798, 6114, 5094, 4473, 4529, 4823, 4872, 5238, 5584, 6246, 5957,
       4535, 3234, 2677, 2077, 1380,  927,  500,  324,  257,  354,  769,
       2769, 5789, 7055, 6408, 5254, 4547, 4784, 5015, 5057, 5430, 5813,
       6496, 6429, 5142, 3311, 2777, 2331, 1767, 1093,  554,  333,  267,
        358,  777, 2732, 5637, 5564, 6274, 5403, 5403, 4680, 4642, 4979,
       4851, 4291, 4714, 6723, 6180, 4843, 3435, 2921, 2763, 1930, 1160,
        654,  374,  301,  397,  794, 2564, 5358, 6441, 5536, 5256, 4619,
       5107, 5147, 5283, 5704, 5887, 6307, 5953, 4519, 3427, 2921, 2649,
       2005, 1177,  699,  436,  353,  353,  399,  720,  720,  720,  720,
       2370, 2370, 5162, 5162, 5162, 5777, 5777, 5235, 5235, 5235, 4606,
       4606, 4328, 4282, 4489, 4908, 5620, 5849, 5849, 4945, 4619, 4479,
       3804, 2908, 2942, 3077, 3077, 2051, 2051, 2051, 1270, 1270,  773,
        773,  589,  432,  432,  401,  401,  401,  759,  759,  759, 1313,
       1313, 1313, 1824, 1824, 1824, 2787, 2787, 2787, 3713, 3713, 3713,
       3713, 3815, 3815, 3815, 3815, 4339, 4339, 4339, 4613, 4613, 4613,
       4613, 4507, 4452, 4636, 4810, 5125, 4337, 3644, 3107, 2929, 2865,
       2340, 1372, 1928, 1928, 4695, 4335, 1583,  959,  498,  306,  259,
        324,  806, 2622, 5456, 4324, 4378, 4639, 4546, 5006, 5361, 6101,
       5781, 4272, 3091, 2434, 1984, 1383,  959,  511,  346,  253,  349,
        807, 2669, 5210, 6083, 5790, 5484, 4407, 4725, 4826, 4945, 5065,
       5618, 6094, 5844, 4649, 3180, 2963, 2450, 1613, 1021,  580,  580,
        298,  261,  408,  408,  793,  793, 2643, 2643, 2643, 5593, 5593,
       5593, 5593, 5722, 5722, 5607, 5607, 5607, 5607, 5492, 5492, 5492,
       4542, 4720, 4720, 4982, 4982, 4982, 5032, 5032, 5032, 5212, 5212,
       5661, 5661, 5661, 5812, 5855, 5855, 4416, 4416, 3118, 2877, 2877,
       2498, 1701, 1028,  578,  354,  272,  370,  809,  809, 2641, 4957,
       6036, 6036, 5309, 4438, 4723, 4879, 5062, 5450, 5450, 5450, 5450,
       5888, 5888, 5888, 5888, 5888, 6473, 6473, 6473, 6488, 6488, 6488,
       5351, 5351, 5351, 5351, 3500, 3500, 3500, 2856, 2856, 2856, 2587,
       2587, 2587, 1979, 1284,  665,  665,  665,  432,  432,  326,  326,
        326,  380,  380,  380,  380,  705,  705,  705,  705,  705, 2430,
       2430, 2430, 2430, 5426, 5426, 5426, 6499, 6499, 5856, 5856, 5856,
       5234, 5234, 5234, 4695, 4695, 4695, 4695, 5341, 5341, 5341, 5341,
       5943, 5943, 5874, 5879, 5879, 6060, 6348, 5955, 5341, 4144, 3249,
       3017, 2765, 1894, 1159,  822,  641,  411,  468,  723, 1415, 2191,
       3185, 4076, 4522, 6012, 5975, 5307, 4678, 4405, 4403, 4311, 4198,
       3475, 3078, 2931, 2941, 2240, 1564,  795,  447,  443,  330,  453,
        755,  953, 1650, 2442, 3230, 3575, 4139, 3892, 3989, 4294, 4521,
       4280, 3945, 3169, 2772, 2213, 1570, 1065,  530,  331,  270,  316,
        799, 2513, 5503, 6642, 6195, 5246, 4460, 4580, 4771, 4836, 5138,
       5606, 6120, 5985, 4418, 3089, 2636, 2117, 1437,  920,  600,  393,
        298,  352,  762, 2519, 5478, 6728, 5972, 5280, 4626, 4947, 5125,
       5130, 5394, 5837, 6222, 5992, 4578, 3246, 2834, 2578, 1979, 1326,
        541,  346,  265,  338,  765, 2611, 5577, 6908, 6079, 5309, 4567,
       4804, 5041, 5051, 5274, 5936, 6128, 5821, 4040, 2711, 2690, 2539,
       1925, 1471,  716,  453,  324,  390,  775, 2572, 5595, 6852, 5892,
       5327, 4756, 5073, 5286, 5189, 5495, 5713, 6317, 6306, 4867, 3501,
       3110, 2727, 1825, 1222,  611,  441,  331,  365,  708, 2379, 5236,
       6509, 5723, 5239, 4723, 5330, 5403, 5446, 5669, 6093, 6323, 5856,
       4987, 3681, 2902, 2929, 2728, 1693, 1166,  724,  568,  343,  383,
        703, 1229, 2057, 3246, 4390, 4573, 4269, 4833, 4442, 4397, 4314,
       4413, 4125, 4004, 3404, 2777, 2579, 2552, 1952, 2125,  730,  730,
        345,  223,  488,  710, 1165, 2067, 2067, 2911, 3527, 3765, 4063,
       4043, 4200, 4105, 4015, 3620, 3652, 2837, 2446, 1950, 1451,  999,
       1720, 1299,  304,  412,  753, 2562, 5658, 6877, 5981, 4999, 4408,
       4575, 4710, 4648, 4968, 6124, 6134, 4265, 2415, 1963, 1454,  938,
        537,  313,  256,  356,  788, 2565, 5330, 6181, 6182, 5720, 4612,
       4666, 5022, 5490, 5973, 6201, 5453, 3921, 3921, 2835, 2835, 2450,
       2450, 2078, 2078, 2078, 1671, 1671, 1671, 1472, 1472,  792,  792,
        792,  811,  811,  671,  671,  671,  671,  474,  474,  474,  790,
        790, 2619, 2619, 5788, 5788, 5788, 7088, 7088, 6264, 6264, 5230,
       4567, 4769, 5011, 4889, 5367, 5678, 5678, 6267, 6267, 6267, 6267,
       6057, 6057, 4883, 2927, 2594, 2347, 1544, 1219,  783,  357])

In [ ]:
Y = df.iloc[:,7].values
Y

In [ ]:
pd.set_option('precision', 2)

In [ ]:
X = array[:,0:6] # факторные признаки, т.е. параметры объекта
Y = array[:,10] # результативные признак, т.е. сам объект
# это обучение с учителем х - это данные, y - это ответ

In [ ]:
X

array([5545, 4516, 4767, ..., 2159, 1450,  954])

In [ ]:
Y

array([5545, 4516, 4767, ..., 2159, 1450,  954])

**5. Задайте разбиение на фолды с помощью функции KFold(n_splits= n_splits, random_state = random_state, shuffle=True) из модуля sklearn.model_selection. Результат запишите в переменную kfold. На вход данной функции подайте следующую информацию: 1) количество частей, на которые должна разбиваться выборка (n_splits), - пусть 10; 2) счетчик случайных чисел (random_state) – пусть 7; 3) необходимость перемешивания данных выборки при каждой оценке, задав параметр shuffle=True.**

In [ ]:
kfold=KFold(n_splits=10,random_state=7,shuffle=True)

**6. Постройте модель логистической регрессии, воспользовавшись функцией LogisticRegression(solver='liblinear') из модуля sklearn.linear_model. Результат запишите в переменную model.**

In [ ]:
model=LogisticRegression(solver='liblinear')

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [ ]:
r2 = model.score(X, Y)
r2

0.0825

**7. Проведите кросс-валидацию, воспользовавшись функцией cross_val_score(model, X, Y, cv=kfold) из модуля sklearn.model_selection. Результат запишите в переменную results.**

In [ ]:
results=cross_val_score(model, X, Y, cv=kfold) # cv - это количество раз разбивки данных на обучающий и тестовый наборы,обучение на них, тестирование и вывод обобщенного лучшего варианта

**8. Выведите на экран среднюю долю правильных ответов (accuracy) и стандартное отклонение полученных оценок, воспользовавшись функциями mean() и std() соответственно.**

In [ ]:
results.mean()

0.0

In [ ]:
results.std()

0.0

**9. Обучите модель на всех данных с помощью функции fit().**

**10. Выведите на экран свободный член и значения коэффициентов регрессии при факторных признаках, которая разделяет классы, обратившись, соответственно, к атрибутам intercept_shape и coef_shape. Запишите математически уравнение регрессии.**

In [ ]:
model.fit(X,Y)

LogisticRegression(solver='liblinear')

In [ ]:
model.intercept_.shape

(361,)

In [ ]:
model.coef_.shape

(361, 6)

In [ ]:
model.intercept_

In [ ]:
model.coef_

array([[-0.09215357, -0.13779438,  0.70995886, -0.27453013, -2.3129607 ,
        -0.35520618],
       [-0.25673659, -0.48205037,  0.58262395,  0.19028012, -2.30778032,
        -0.29022275],
       [-0.18092964, -0.48465823,  0.58042261,  0.18821208, -2.30963647,
        -0.30162586],
       ...,
       [-0.16853099, -0.50187038,  0.58074669,  0.19162756, -2.29270411,
        -0.11743893],
       [-0.3230572 , -0.13671787,  0.43541526, -0.35501619, -2.33106322,
        -0.13978621],
       [-0.42912686, -0.57190129,  0.63532449, -0.37329277, -2.28375072,
        -0.10095889]])

**11. Произвольно задайте значения факторных признаков для двух новых наблюдений. Поместите их в переменную x_new. Например, np.array([[0,136,42,34,136,43,2,32],[0,137,40,35,168,43.1,2.288,33]]).**

**12. По обученной модели дайте прогноз классов для новых наблюдений, воспользовавшись функцией predict().**

In [ ]:
Y_pred = model.predict(X)
# подставляем наши данные в обученную модель и смотрим что
# исходя из параметров пациенты скорей всего заболеют, т.е.
# их можно отнести к группе риска

In [ ]:
Y_pred

array([5713,  627, 5450, 5888, 5450, 5713, 5713, 5713, 4770, 4770, 6057,
       5713, 5713, 5713, 5713,  367,  367,  324,  367,  324,  324,  769,
        769,  367, 5713, 5713, 5713, 5713, 5713, 4770, 6057, 2929, 5713,
       5713, 5713,  367,  367,  367,  367,  367,  367,  367,  367,  367,
        367, 5713, 5713, 5713, 5713, 5713, 5713, 4770, 4770, 5713, 5713,
       5713, 5888, 5888, 5888,  627,  367,  367,  627,  730,  730, 5330,
        627,  627, 5330, 5330, 5030, 5330, 2777, 2450, 2450, 2450, 2450,
       2450, 1671, 2450, 2450,  432,  432,  730,  432,  411,  265,  265,
        265,  265, 2929, 2929, 5669, 5067, 5067, 5067, 2450, 2450, 2450,
       2450, 2450, 2450, 2450, 1671,  432,  730,  730,  380,  730, 5330,
        411,  411, 5403, 5330, 5330, 5330, 5330, 5330, 2450, 2450, 2450,
       2450, 1671, 2450, 1671, 2929,  411,  411,  265,  265,  265,  265,
        411,  411,  411,  411, 2929, 2929, 4887, 5713, 5713, 5713, 5713,
       2450, 2450, 2929, 1693, 1693,  959,  959,  324,  324,  324,  411,
        324,  324,  627, 5330, 5330, 5330, 5330, 5030, 5030, 5888, 5888,
       5888, 5888, 5888, 5888, 2450, 2450, 2450, 2450,  432,  432,  432,
        432, 5330,  705,  432, 4695, 3713, 4695, 3713, 5330, 4887, 5030,
       5030, 5330, 2777, 5330, 1284, 1284, 1284, 1284, 2450, 2450,  324,
        432,  705,  324,  265,  265,  265,  411,  265, 5330, 6128, 5030,
       6057, 2450, 2450, 2450, 2450, 2450, 2450,  432,  432,  432,  432,
       2430,  432,  627,  627, 5330, 5330, 5403, 5067, 5669, 5669, 5030,
       5030, 5030, 2450, 2929, 2450,  324,  265,  265,  411,  265,  265,
        265,  705, 5341, 5856, 2929, 4887, 4887, 5713, 5713, 5713, 5713,
       5713, 5713, 2929, 5584, 1671, 2450, 2450,  432,  432,  432,  432,
        730,  730,  730,  730, 5593, 5403, 5593, 5403, 5403, 5593, 5403,
       5593, 5593, 4695, 6057, 5888, 5888, 5888, 5888, 5888, 5888, 5888,
       5888, 5888, 5888, 5351, 5351, 5351, 5351, 5351, 2051, 2051, 1671,
        671,  432,  432,  432,  671,  432,  671,  432,  671,  432,  671,
        671,  671, 5341, 5341, 5330, 5330, 5713, 5713, 5713, 4770, 2929,
       2929, 6057, 1671, 2450, 2929, 1671,  411,  324,  324,  324,  324,
        265,  265,  411,  411,  411, 1166, 4770, 5713, 5713, 5450, 5450,
       5450, 5888, 5888, 5351, 2450, 2450, 2450, 2450,  432,  627,  432,
        432,  627,  432,  432,  627,  627, 5593, 5607,  627,  627, 5713,
       5713, 5713, 5713, 5713, 5713, 5713, 2450, 2450, 2450, 2929, 2929,
        627,  324,  705,  705,  432,  705,  627,  730, 5330, 5607, 5450,
       5450, 5888, 4460, 5888, 5888, 5888, 5888, 1284, 5888, 5351, 2450,
       2450, 2450,  432,  671,  432,  671,  671,  432,  671,  705,  432,
        671, 2430,  705,  671, 2430,  671,  671,  705,  671, 4695, 4695,
       5341, 5341, 5330, 5330, 5330, 5341, 5341, 5888, 5341, 5351, 2450,
       1671, 2450, 2051, 1671, 1671, 2051, 2051, 1671,  705,  671,  432,
        705,  432,  432,  671,  671,  432,  705,  705,  671,  432,  705,
        671,  432,  705,  705,  432,  705,  705, 3713, 4695, 3713, 4613,
       3713, 4613, 3713, 4613, 5593, 4613, 4613, 3713, 5888, 4613, 4613,
       4613, 4695, 5330, 5030, 1284, 6057, 2450, 2450, 2929, 2929, 2051,
       1671,  671, 4695, 5341, 6057, 1671, 2450, 2450,  432,  432,  324,
        432,  806,  806,  806, 5330, 5713, 5450, 4770, 5450, 5450, 5713,
       5713, 4770, 6057, 5713, 5713, 1671, 2450,  432,  432,  627,  627,
        411,  411,  627,  324,  411,  627, 5330,  627, 4460, 5888, 5888,
       5593, 5888, 5888, 5888, 5888, 2450, 2450, 2450, 2450,  432,  432,
        432,  432,  432,  432, 5593, 5593, 5593, 5607, 5593, 5593, 5593,
       5593, 5593, 5607, 5593, 3713, 5607, 5607, 5593, 3713, 5607, 5593,
       5607, 5888, 5888, 5888, 5888, 5888, 5888, 5888, 5888, 5888, 5888,
       5888, 5888, 5888, 5888, 5888, 5888, 5888, 5888, 5888, 5888, 5351,
       6057, 5351, 5351,  665, 5593, 5593, 5593, 5593,  432, 5593, 5593,
       5593,  432, 5593, 5607, 5888, 5888, 5888, 5888, 5888, 5888, 5888,
       5888, 5888, 5888, 5888, 5888, 5888, 5888, 5888, 5351, 5351, 5888,
       5888, 5351, 5351, 5351, 5888, 5351, 5351, 5351, 5351, 1671, 5351,
       5351, 2450, 2450, 2450,  705,  671,  432,  432,  705,  705,  671,
        432,  705,  671,  432,  432,  705,  671,  671,  432,  432,  705,
        671,  671, 5593,  705,  671,  671, 4695,  671, 5341, 5341, 5341,
       5341, 5341, 4695, 5341, 5341, 5341, 4695, 5341, 4695, 5341, 5341,
       5341, 4695, 4695, 4695, 5341, 5341, 2450, 2450, 2450, 2450, 2450,
       1671, 2450, 2450,  730,  730,  411,  411,  265,  265,  265,  411,
        411, 5330,  265, 5330, 5330, 5330, 5330, 5330, 2450, 2450, 2450,
       2450, 2450, 2450, 2929, 2929,  411,  730,  730,  730,  730,  705,
        705,  411,  265,  265,  265,  265, 2929, 5669, 5669, 6267, 6267,
       1671, 1671, 1671, 1671, 1671, 1671, 1671,  671,  705,  671,  705,
        730,  730,  265,  265,  265,  411, 5330, 5330, 4695, 5330, 5330,
       5330, 2450, 2450, 2450, 2450, 2450, 1671, 1671, 2929,  411,  411,
        411,  265,  705,  411,  411,  265,  411,  411, 5403, 5330, 5330,
       5330, 5330, 5330, 2450, 2450, 1671, 1671, 2450, 1671, 2450, 2450,
        324,  265,  265,  265,  265,  265,  265,  265,  411,  411, 2929,
       2929, 2929, 5669, 2929, 2929, 2450, 2929, 2929, 2929, 2929, 1693,
       1693, 1693,  324,  265,  265,  265,  265,  265,  265,  265,  411,
        265,  265, 2929, 2929, 2929, 5713, 5713, 5713, 2929, 2929, 2450,
       2450, 2450, 2450, 1671,  730,  705,  324,  432,  432,  730,  730,
       5330, 5403,  324, 5330, 5330, 5403, 6267, 5713, 2450, 2450, 2450,
       2450, 2450, 2929, 2929, 1693, 2450,  411,  705,  705,  411,  411,
        265,  411,  411, 5856, 6267, 6267, 6267, 6267, 6267, 5856, 2450,
       6267, 6267, 1671, 2450, 2450, 2450, 2450, 2450,  730,  730,  730,
        730,  730,  730,  730, 5330, 5341, 4695, 5330, 5330, 5330, 5330,
       5330, 5330, 5330, 2450, 2450, 2450, 2450, 2450, 2450, 2450, 2051,
        730,  432,  671,  411,  671,  411,  411,  265, 5330, 5330, 5330,
       5330, 5330, 5330, 5330, 2450, 2450, 2450, 2450, 2450, 2450, 2450,
        324,  730,  730, 5330, 5330, 5330, 5330, 5330, 5330, 5330, 5330,
       5341, 5330, 5330, 5330, 5341, 5341, 1671, 5341, 1671, 5341, 1671,
       5341, 1671, 1671, 2051, 1671, 1671, 1671, 1671, 2051,  705,  671,
        671,  671,  671,  671,  671,  671,  671,  671,  671,  671,  671,
        671,  671,  671,  671,  671,  705,  705,  671,  671,  705, 5330,
       5330, 5330, 5330, 5330, 5341, 5341, 6267, 5341, 5341, 6267, 6267,
       5341, 5341, 5341, 2450, 2450, 2450, 1671, 2450,  730,  730])

In [ ]:
Y

array([5545, 4516, 4767, 5026, 4918, 5181, 5584, 6015, 5791, 4770, 3539,
       2784, 2361, 1529,  963,  506,  321,  273,  367,  814, 2718, 5673,
       6511, 5471, 5097, 4887, 5337, 5692, 6137, 4623, 3591, 2898, 2637,
       1777, 1015,  598,  369,  312,  367,  835, 2726, 5689, 6990, 5985,
       5309, 4603, 4884, 5104, 5178, 5501, 5713, 6292, 6057, 4907, 3503,
       3037, 2822, 1992, 1166,  627,  388,  368, 2489, 5537, 6628, 5534,
       5403, 4770, 5217, 5870, 5967, 6108, 6128, 6069, 6169, 5384, 4063,
       3364, 2971, 2450, 1832, 1231,  718,  545,  411,  688, 1352, 2072,
       3342, 4258, 4861, 5191, 5669, 5074, 5025, 5153, 5024, 4779, 4362,
       3860, 3160, 2992, 3202, 1941, 1233,  323,  312,  627, 1508, 1539,
       2232, 4568, 4624, 4529, 5139, 6640, 6589, 4429, 4329, 3833, 4015,
       3382, 2815, 2110, 1555,  959,  455,  336,  265,  314,  779, 2571,
       5563, 6676, 5966, 4832, 4395, 4411, 4648, 4602, 5125, 5502, 5979,
       5663, 4259, 3069, 2378, 2030, 1400,  917,  515,  302,  251,  798,
       2678, 5733, 6449, 5765, 5599, 4534, 4691, 5067, 5030, 5300, 5777,
       6349, 6127, 4460, 3418, 2775, 2306, 1846,  947,  494,  332,  261,
        361, 5875, 6793, 6793, 6283, 6283, 5680, 5680, 4632, 4887, 5030,
       5067, 5227, 5610, 6286, 4775, 3340, 3013, 2603, 1910, 1037,  347,
        350,  850, 2791, 5809, 6798, 6304, 5291, 4638, 5557, 5818, 6272,
       5944, 4949, 3511, 3039, 2679, 2094, 1284,  630,  410,  331,  372,
        739, 2561, 5586, 6992, 5860, 5230, 4864, 5146, 5526, 5383, 5758,
       5889, 6057, 6028, 5257, 1897, 1335,  769,  570,  413,  399,  740,
       1420, 2220, 3479, 4546, 4579, 4438, 4623, 4440, 4495, 4483, 4591,
       4477, 4221, 3672, 3015, 2769, 2875, 1931, 1309,  870,  654,  364,
        262,  505,  861, 1132, 1797, 2685, 2685, 2685, 3370, 3370, 3662,
       3662, 4076, 4076, 4076, 4128, 4128, 4128, 4358, 4358, 4358, 4342,
       4342, 4234, 4271, 4271, 4080, 3453, 2718, 2439, 1819, 1002, 1002,
        542,  542,  303,  239,  335,  335,  810,  810, 2606, 2606, 5714,
       6798, 6114, 5094, 4473, 4529, 4823, 4872, 5238, 5584, 6246, 5957,
       4535, 3234, 2677, 2077, 1380,  927,  500,  324,  257,  354,  769,
       2769, 5789, 7055, 6408, 5254, 4547, 4784, 5015, 5057, 5430, 5813,
       6496, 6429, 5142, 3311, 2777, 2331, 1767, 1093,  554,  333,  267,
        358,  777, 2732, 5637, 5564, 6274, 5403, 5403, 4680, 4642, 4979,
       4851, 4291, 4714, 6723, 6180, 4843, 3435, 2921, 2763, 1930, 1160,
        654,  374,  301,  397,  794, 2564, 5358, 6441, 5536, 5256, 4619,
       5107, 5147, 5283, 5704, 5887, 6307, 5953, 4519, 3427, 2921, 2649,
       2005, 1177,  699,  436,  353,  353,  399,  720,  720,  720,  720,
       2370, 2370, 5162, 5162, 5162, 5777, 5777, 5235, 5235, 5235, 4606,
       4606, 4328, 4282, 4489, 4908, 5620, 5849, 5849, 4945, 4619, 4479,
       3804, 2908, 2942, 3077, 3077, 2051, 2051, 2051, 1270, 1270,  773,
        773,  589,  432,  432,  401,  401,  401,  759,  759,  759, 1313,
       1313, 1313, 1824, 1824, 1824, 2787, 2787, 2787, 3713, 3713, 3713,
       3713, 3815, 3815, 3815, 3815, 4339, 4339, 4339, 4613, 4613, 4613,
       4613, 4507, 4452, 4636, 4810, 5125, 4337, 3644, 3107, 2929, 2865,
       2340, 1372, 1928, 1928, 4695, 4335, 1583,  959,  498,  306,  259,
        324,  806, 2622, 5456, 4324, 4378, 4639, 4546, 5006, 5361, 6101,
       5781, 4272, 3091, 2434, 1984, 1383,  959,  511,  346,  253,  349,
        807, 2669, 5210, 6083, 5790, 5484, 4407, 4725, 4826, 4945, 5065,
       5618, 6094, 5844, 4649, 3180, 2963, 2450, 1613, 1021,  580,  580,
        298,  261,  408,  408,  793,  793, 2643, 2643, 2643, 5593, 5593,
       5593, 5593, 5722, 5722, 5607, 5607, 5607, 5607, 5492, 5492, 5492,
       4542, 4720, 4720, 4982, 4982, 4982, 5032, 5032, 5032, 5212, 5212,
       5661, 5661, 5661, 5812, 5855, 5855, 4416, 4416, 3118, 2877, 2877,
       2498, 1701, 1028,  578,  354,  272,  370,  809,  809, 2641, 4957,
       6036, 6036, 5309, 4438, 4723, 4879, 5062, 5450, 5450, 5450, 5450,
       5888, 5888, 5888, 5888, 5888, 6473, 6473, 6473, 6488, 6488, 6488,
       5351, 5351, 5351, 5351, 3500, 3500, 3500, 2856, 2856, 2856, 2587,
       2587, 2587, 1979, 1284,  665,  665,  665,  432,  432,  326,  326,
        326,  380,  380,  380,  380,  705,  705,  705,  705,  705, 2430,
       2430, 2430, 2430, 5426, 5426, 5426, 6499, 6499, 5856, 5856, 5856,
       5234, 5234, 5234, 4695, 4695, 4695, 4695, 5341, 5341, 5341, 5341,
       5943, 5943, 5874, 5879, 5879, 6060, 6348, 5955, 5341, 4144, 3249,
       3017, 2765, 1894, 1159,  822,  641,  411,  468,  723, 1415, 2191,
       3185, 4076, 4522, 6012, 5975, 5307, 4678, 4405, 4403, 4311, 4198,
       3475, 3078, 2931, 2941, 2240, 1564,  795,  447,  443,  330,  453,
        755,  953, 1650, 2442, 3230, 3575, 4139, 3892, 3989, 4294, 4521,
       4280, 3945, 3169, 2772, 2213, 1570, 1065,  530,  331,  270,  316,
        799, 2513, 5503, 6642, 6195, 5246, 4460, 4580, 4771, 4836, 5138,
       5606, 6120, 5985, 4418, 3089, 2636, 2117, 1437,  920,  600,  393,
        298,  352,  762, 2519, 5478, 6728, 5972, 5280, 4626, 4947, 5125,
       5130, 5394, 5837, 6222, 5992, 4578, 3246, 2834, 2578, 1979, 1326,
        541,  346,  265,  338,  765, 2611, 5577, 6908, 6079, 5309, 4567,
       4804, 5041, 5051, 5274, 5936, 6128, 5821, 4040, 2711, 2690, 2539,
       1925, 1471,  716,  453,  324,  390,  775, 2572, 5595, 6852, 5892,
       5327, 4756, 5073, 5286, 5189, 5495, 5713, 6317, 6306, 4867, 3501,
       3110, 2727, 1825, 1222,  611,  441,  331,  365,  708, 2379, 5236,
       6509, 5723, 5239, 4723, 5330, 5403, 5446, 5669, 6093, 6323, 5856,
       4987, 3681, 2902, 2929, 2728, 1693, 1166,  724,  568,  343,  383,
        703, 1229, 2057, 3246, 4390, 4573, 4269, 4833, 4442, 4397, 4314,
       4413, 4125, 4004, 3404, 2777, 2579, 2552, 1952, 2125,  730,  730,
        345,  223,  488,  710, 1165, 2067, 2067, 2911, 3527, 3765, 4063,
       4043, 4200, 4105, 4015, 3620, 3652, 2837, 2446, 1950, 1451,  999,
       1720, 1299,  304,  412,  753, 2562, 5658, 6877, 5981, 4999, 4408,
       4575, 4710, 4648, 4968, 6124, 6134, 4265, 2415, 1963, 1454,  938,
        537,  313,  256,  356,  788, 2565, 5330, 6181, 6182, 5720, 4612,
       4666, 5022, 5490, 5973, 6201, 5453, 3921, 3921, 2835, 2835, 2450,
       2450, 2078, 2078, 2078, 1671, 1671, 1671, 1472, 1472,  792,  792,
        792,  811,  811,  671,  671,  671,  671,  474,  474,  474,  790,
        790, 2619, 2619, 5788, 5788, 5788, 7088, 7088, 6264, 6264, 5230,
       4567, 4769, 5011, 4889, 5367, 5678, 5678, 6267, 6267, 6267, 6267,
       6057, 6057, 4883, 2927, 2594, 2347, 1544, 1219,  783,  357])

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
R2=r2_score(Y, Y_pred)
R2

-0.03994768116315717

**вводим конкретные данные:**

In [ ]:
x_new=np.array([[14.88,14.57,0.88,5.55,3.33,1.02,4.96	],[11.23,12.88,0.85,5.14,2.79,4.33,5.00	]])
# это данные 2-х пациентов щас проверим заболеют или нет

In [ ]:
model.predict(x_new) # сюда заносим конкретные данные и смотрим прогноз

array([1., 3.])

**13. По обученной модели дайте прогноз вероятности классов для новых наблюдений, воспользовавшись функцией predict_proba().**

In [ ]:
model.predict_proba(x_new)
# нулевой столбец - это нулевой класс
# первый столбец - это первый класс
# первая строка - это первые данные (здесь с вероятностью 96% относится к 1-ому типу)
# вторая строка = это вторые данные (здесь с вероятностью 83% относится к 3-ему типу)

array([[0.95628385, 0.0423319 , 0.00138425],
       [0.1642972 , 0.00303227, 0.83267053]])

# **ЛОГИСТИЧЕСКАЯ РЕГРЕССИЯ (на стандартизированных данных)**

________________________________________________________________________________

# **НАЧАЛО**
# **стандартизируем, удаляем выбросы:**

1. Масштабируем
2. Стандартизируем
3. Заменяем выбросы на NaN (больше 3-х стандартных отклонений)
4. NaN были заменены на соседнее число **Текст, выделенный полужирным шрифтом**

DataFrame.values Pandas DataFrame.values возвращает Numpy-представление данного DataFrame.
Используйте атрибут DataFrame.values чтобы возвратить пустое представление данного DataFrame.

In [ ]:
X.shape

(210, 7)

**масштабирование:**

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
from pandas.core.apply import FrameApply
scaler=MinMaxScaler(feature_range=(0,1))

In [ ]:
rescaledX=scaler.fit_transform(X)
rescaledX

In [ ]:
from numpy import set_printoptions

In [ ]:
set_printoptions(precision=4)

In [ ]:
rescaledX

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler().fit(X) # создаем объект и обучаем

In [ ]:
rescaledX=scaler.transform(X) # преобразуем данные

In [ ]:
rescaledX[:5,:]

In [ ]:
import pandas as pd
fg = pd.DataFrame(rescaledX)
fg.head(15)

In [ ]:
import numpy as np

**цикл который меняет выбросы (значения превышающие 3 стандартных отклонения) на NaN во всех столбцах:**

In [ ]:
for i in fg:
    fg[i] = np.where((fg[i] > 3) | (fg[i] < -3), np.nan, fg[i])
fg.head(15)

In [ ]:
fgY = pd.DataFrame(Y)
fgY.head(5)

In [ ]:
fg['end'] = fgY

In [ ]:
fg.head(5)

In [ ]:
fg_groupby = fg.sort_values(by=['end',3]) # упорядочиваем данные по результирующим признакаам

In [ ]:
fg_groupby.isna().sum()

In [ ]:
fg_groupby['end'].value_counts()

In [ ]:
fg_groupby.head(20)

In [ ]:
fg_groupby = fg_groupby.fillna(method ='pad') # заменяем NaN на предыдущее значение в столбце
# методы Значение параметра метода: {‘pad’, ‘ffill’,‘backfill’, ‘bfill’, None}, default None
#pad/ffill: использование предыдущий Не пропущенное значение, чтобы заполнить пропущенное значение
#backfill/bfill: использование следующий Заполните пропущенное значение не пропущенным значением
#None: Укажите значение для замены отсутствующего значения (по умолчанию это так)

In [ ]:
df

,area_A,perimeter_P,compactness,length_of_ker,width_of_ker,asymmetry_coeff,length_of_ker_groove,class,class_name
0,15.26,14.84,0.87,5.76,3.31,2.22,5.22,1,Кама
1,14.88,14.57,0.88,5.55,3.33,1.02,4.96,1,Кама
2,14.29,14.09,0.91,5.29,3.34,2.70,4.83,1,Кама
3,13.84,13.94,0.90,5.32,3.38,2.26,4.80,1,Кама
4,16.14,14.99,0.90,5.66,3.56,1.35,5.17,1,Кама
...,...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.88,5.14,2.98,3.63,4.87,3,Канадская
206,11.23,12.88,0.85,5.14,2.79,4.33,5.00,3,Канадская
207,13.20,13.66,0.89,5.24,3.23,8.31,5.06,3,Канадская
208,11.84,13.21,0.85,5.17,2.84,3.60,5.04,3,Канадская
209,12.30,13.34,0.87,5.24,2.97,5.64,5.06,3,Канадская

In [ ]:
fg_groupby.head(5)

      0         1         2     3     4     5     6  end
0  0.14  2.15e-01  6.06e-05  0.30  0.14 -0.99 -0.38  1.0
1  0.01  8.22e-03  4.29e-01 -0.17  0.20 -1.79 -0.92  1.0
2 -0.19 -3.60e-01  1.44e+00 -0.76  0.21 -0.67 -1.19  1.0
3 -0.35 -4.75e-01  1.04e+00 -0.69  0.32 -0.96 -1.23  1.0
4  0.45  3.31e-01  1.37e+00  0.07  0.81 -1.56 -0.48  1.0

In [ ]:
fg_groupby.isna().sum()

In [ ]:
fg_groupby = fg_groupby.sort_index()

In [ ]:
fg_groupby['end'] = fg_groupby['end'].astype('int')

In [ ]:
fg_groupby.dtypes

0      float64
1      float64
2      float64
3      float64
4      float64
5      float64
6      float64
end      int64
dtype: object