В [файле](https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/students.stat) следующие поля:
    
- *gender* — пол абитуриента;
- *race/ethnicity* — национальность (зашифрована в виде значений "Group A", "Group B" и т.д.);
- *parental level of education* — уровень образования родителей;
- *lunch* — насколько качественно пообедал абитуриент перед тестом;
- *test preparation course* — закончил ли абитуриент подготовительные курсы;
- *math score* — оценка по математике;
- *reading score* — оценка по чтению;
- *writing score* — оценка по письму.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/students.stat")
df = df.rename(columns = lambda x: x.replace(' ','_'))
df

     gender race/ethnicity  ... reading_score writing_score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

## Задание 0

Считаем девочек и мальчиков.

In [ ]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [ ]:
i = df[df.gender == 'female'].gender.count()
j = df[df.gender == 'male'].gender.count()
k = {'Мальчик': j, 'Девочка': i}
s = pd.DataFrame(k, index=['Всего'])
print(s)

       Мальчик  Девочка
Всего      482      518

## Задание 1

У скольких абитуриентов родители имеют диплом бакалавра (bachelor's degree)?

Ответ в виде целого числа.

In [ ]:
df[df['parental_level_of_education'] == "bachelor's degree"].gender.count()

118

## Задание 2

Сколько разных вариантов значений встречается в столбце "parental level of education"?

Ответ в виде целого числа.

In [ ]:
df.parental_level_of_education.value_counts().count()

6

## Задание 3

Сколько процентов абитуриентов полноценно пообедали перед экзаменом? (У скольких процентов абитуриентов значение столбца "lunch" = "standard").

Ответ в виде десятичной дроби.

In [ ]:
i = df[df["lunch"] == "standard"].lunch.count()*100/df.lunch.count()
print(f'{i}%')

64.5%

## Задание 4

Сколько абитуриентов относится к этнической группе "group C"?

Ответ в виде целого числа.

In [ ]:
df[df['race/ethnicity'] == "group C"]['race/ethnicity'].count()

319

### Задание 5

Сколько разных этнических групп встречается в файле?

Ответ в виде целого числа.

In [ ]:
df['race/ethnicity'].value_counts().count()

5

### Задание 6

Вычислите средний балл абитуриентов на экзамене по чтению (reading score).

Ответ в виде одного числа.

In [ ]:
df.reading_score.mean()

69.169

### Задание 7

Сколько абитуриентов получили на экзамене по чтению (reading score) оценку ниже среднего?

In [ ]:
print(f'{df[df.reading_score < df.reading_score.mean()].reading_score.count()} шт.)')

487 шт.)

### Задание 8

Какой средний балл на экзамене по чтению (reading score) получили девочки?

Ответ округлите до трёх знаков после запятой.

In [ ]:
round(df[df.gender == 'female'].reading_score.mean(),3)

72.608

### Задание 9

Сколько абитуриентов получили на экзамене по письму (writing score) оценку выше 90?

In [ ]:
df[df.reading_score > 90].reading_score.count()

62

### Задание 10

Сколько процентов абитуриентов, получивших на экзамене по письму (writing score) оценку более 90, хорошо пообедали перед экзаменом (lunch = standard)?

Ответ округлите до одного знака после запятой.

In [ ]:
i = df[(df.reading_score > 90) & (df["lunch"] == "standard")].reading_score.count()*100/df.reading_score.count()
print(f'{round(i,1)} %')

5.4 %

### Задание 11

Сколько мальчиков хорошо пообедали перед экзаменом (lunch = standard)?

Ответ в виде одного числа.

In [ ]:
df[(df.gender == 'male') & (df["lunch"] == "standard")].gender.count()

316

### Задание 12

Сколько мальчиков закончили подготовительные курсы (test preparation course = completed)?

Ответ в виде одного числа.

In [ ]:
df[(df.gender == 'male') & (df.test_preparation_course == "completed")].gender.count()

174

### Задание 13

У скольких девочек родители имеют степень магистра (parental level of education = master's degree)?

Ответ в виде одного числа.

In [ ]:
df[(df.gender == 'female') & (df.parental_level_of_education == "master's degree")].gender.count()

36

### Задание 14

Сколько абитуриентов, относящихся к этнической группе С, закончили подготовительные курсы?

Ответ введите в виде одного числа.

In [ ]:
df[(df['race/ethnicity'] == 'group C') & (df.test_preparation_course == "completed")].test_preparation_course.count()

117

### Задание 15

Сколько девочек, родители которых имеют степень магистра, набрали по математике больше 90 баллов?

Ответ введите в виде одного числа.

In [ ]:
df[(df.gender == 'female') & (df.parental_level_of_education == "master's degree") & (df.math_score > 90)].gender.count()

2