In [ ]:
import numpy as np
import pandas as pd

In [ ]:
f = lambda x: True if x == 'Да' else False
#temper_convertor = lambda x: x.str.replace('C', '').strip()
#df['Температура'] = df['Температура'].apply(temper_convertor)
df['Температура'] = df['Температура'].str.replace('град С', '').str.strip()
df['Давление'] = df['Давление'].str.replace('Па', '').str.strip()
df['Осадки'] = df['Осадки'].apply(f)
df['Температура'] = pd.to_numeric(df['Температура'],
errors='coerce')
df['Давление'] = pd.to_numeric(df['Давление'],
errors='coerce')
df['Дата'] = pd.to_datetime(df['Дата'], errors='coerce')
df.dtypes

Температура           float64
Давление                int64
Осадки                   bool
Дата           datetime64[ns]
dtype: object

In [ ]:
i = {
     'Температура':['-8 град С','wdwd','-9,1 град С','-10.3 град С', '58'],
     'Давление':['96292 Па','97292 Па','96325 Па','96390 Па','96425 Па'],
     'Осадки':['Да','4','Нет','Да', 'Да'],
     'Дата':['2019-11-20','2019-11-21','2019-11-22','2019-11-11','2019-11-30']
     }
df = pd.DataFrame(i)
print(df)
#print(df.dtypes)

    Температура  Давление Осадки        Дата
0     -8 град С  96292 Па     Да  2019-11-20
1          wdwd  97292 Па      4  2019-11-21
2   -9,1 град С  96325 Па    Нет  2019-11-22
3  -10.3 град С  96390 Па     Да  2019-11-11
4            58  96425 Па     Да  2019-11-30

In [ ]:
def f(x):
  x_s = x.replace('град С','').replace(',','.').strip()
  return x_s
#df = df['Температура'].apply(f)
df['Температура'] = pd.to_numeric(df['Температура'].apply(f),errors='coerce')
df

   Температура  Давление Осадки        Дата
0         -8.0  96292 Па     Да  2019-11-20
1          NaN  97292 Па      4  2019-11-21
2         -9.1  96325 Па    Нет  2019-11-22
3        -10.3  96390 Па     Да  2019-11-11
4         58.0  96425 Па     Да  2019-11-30

In [ ]:
def s(x):
  x_s = x.replace('Па','').strip()
  return x_s
#df = df['Давление'].apply(s)
df['Давление'] = pd.to_numeric(df['Давление'].apply(s),errors='coerce')
df

   Температура  Давление Осадки        Дата
0         -8.0     96292     Да  2019-11-20
1          NaN     97292      4  2019-11-21
2         -9.1     96325    Нет  2019-11-22
3        -10.3     96390     Да  2019-11-11
4         58.0     96425     Да  2019-11-30

In [ ]:
df['Осадки'] = np.where(df['Осадки'] == 'Да',True,np.where(df['Осадки'] == 'Нет',False,'NaN'))
df

   Температура  Давление Осадки        Дата
0         -8.0     96292   True  2019-11-20
1          NaN     97292    NaN  2019-11-21
2         -9.1     96325  False  2019-11-22
3        -10.3     96390   True  2019-11-11
4         58.0     96425   True  2019-11-30

In [ ]:
df.dropna(axis=1,thresh=4)

   Температура  Давление Осадки        Дата
0         -8.0     96292   True  2019-11-20
1          NaN     97292    NaN  2019-11-21
2         -9.1     96325  False  2019-11-22
3        -10.3     96390   True  2019-11-11
4         58.0     96425   True  2019-11-30