# **Проверка наличия противоречивых даных:**

In [2]:
import pandas as pd # пакет (строится поверх numpy)
import numpy as np # библиотека
from pandas import read_csv

In [4]:
df=read_csv('D:\Политех\Класиффикация\Сегментация_клиентов\Train_cleared_fillna.csv')

In [5]:
df=df.filter(regex='^(?!.*Unnamed).*$')

In [6]:
array = df.values
array
X = array[:,0:9]
Y = array[:,9]

In [7]:
X

array([[ 1.,  0., 18., ...,  3.,  2.,  6.],
       [ 1.,  1., 18., ...,  1.,  4.,  6.],
       [ 0.,  0., 19., ...,  3.,  3.,  4.],
       ...,
       [ 0.,  1., 89., ...,  1.,  1.,  6.],
       [ 1.,  1., 89., ...,  1.,  2.,  6.],
       [ 0.,  1., 89., ...,  1.,  2.,  6.]])

In [8]:
Y

array([1., 1., 1., ..., 4., 4., 4.])

In [9]:
df.Целевая_категория.value_counts()

4    2268
1    1971
3    1970
2    1858
Name: Целевая_категория, dtype: int64

In [10]:
df.isna().sum()

Пол                    0
Семейное_положение     0
Возраст                0
Высшее_образование     0
Профессия              0
Опыт_работы            0
Уровень_расходов       0
Размер_семьи           0
Анонимная_категория    0
Целевая_категория      0
dtype: int64

In [36]:
df = df.dropna(how='any')

In [37]:
df.Целевая_категория.value_counts()

1    692
4    631
2    450
3    381
Name: Целевая_категория, dtype: int64

In [11]:
df.columns

Index(['Пол', 'Семейное_положение', 'Возраст', 'Высшее_образование',
       'Профессия', 'Опыт_работы', 'Уровень_расходов', 'Размер_семьи',
       'Анонимная_категория', 'Целевая_категория'],
      dtype='object')

In [38]:
d = df.drop_duplicates()

In [39]:
d.Целевая_категория.value_counts()

1    686
4    621
2    450
3    377
Name: Целевая_категория, dtype: int64

In [12]:
df.shape

(8067, 10)

In [41]:
df_ = df.drop(columns='Целевая_категория')

In [42]:
df_.shape

(2154, 9)

In [43]:
df_ = df_.drop_duplicates()

In [44]:
df_.shape

(2085, 9)

In [45]:
df.shape[0] - df_.shape[0]

69

In [13]:
df_L=df.drop(columns='Целевая_категория')

In [14]:
df_R = df['Целевая_категория']

In [15]:
df_R

0       1
1       1
2       1
3       1
4       1
       ..
8062    4
8063    4
8064    4
8065    4
8066    4
Name: Целевая_категория, Length: 8067, dtype: int64

In [16]:
df_L.shape

(8067, 9)

In [17]:
df_L = df_L.drop_duplicates()

In [18]:
df_L.shape

(7150, 9)

In [19]:
df_clear = pd.merge(df_L, df_R, left_index=True, right_index=True)

In [20]:
df_clear

,Пол,Семейное_положение,Возраст,Высшее_образование,Профессия,Опыт_работы,Уровень_расходов,Размер_семьи,Анонимная_категория,Целевая_категория
0,1,0.0,18,0.0,5.0,4.0,3,2.0,6.0,1
1,1,1.0,18,0.0,7.0,0.0,1,4.0,6.0,1
2,0,0.0,19,0.0,8.0,1.0,3,3.0,4.0,1
3,1,0.0,19,0.0,8.0,0.0,3,5.0,6.0,1
4,1,0.0,19,0.0,3.0,0.0,3,6.0,4.0,1
...,...,...,...,...,...,...,...,...,...,...
8057,0,1.0,88,1.0,6.0,0.0,3,1.0,6.0,4
8059,1,1.0,88,0.0,1.0,7.0,3,1.0,6.0,4
8062,0,0.0,89,1.0,6.0,1.0,3,1.0,6.0,4
8063,0,0.0,89,1.0,6.0,2.0,3,1.0,6.0,4
8064,0,1.0,89,0.0,6.0,3.0,1,1.0,6.0,4

In [21]:
df_clear.to_csv('Test_FILLNA_DROP_ALL_DUPLICATE.csv')

In [ ]:
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++